p{
  font-family: inherit;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0.5s;
  width: 140px;
  display: inherit;
  margin-bottom: 1.2em;
  position: relative;
  text-align: center;
  z-index: 20;
  white-space: nowrap;
  line-height: 1em;
  color: black;
  background: transparent;
  border: 3px solid black !important;
  padding: 5px 0px 5px 0px;
  font-size: smaller;
}

.button:hover, .button:visited:hover {
  font-family: inherit;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0.5s;
  width: 140px;
  display: inherit;
  margin-bottom: 1.2em;
  position: relative;
  text-align: center;
  z-index: 20;
  white-space: nowrap;
  line-height: 1em;
  color: white;
  background: black;
  border: 3px solid black !important;
  padding: 5px 0px 5px 0px;
  font-size: smaller;
}

@mixin button($colour: $default-button-colour)
{
  // Colour
  background-color: $colour;

  // Size and shape
  position: relative;
  @include inline-block;
  padding: 0.2em 0.6em 0.2em 0.6em;
  border: 4px solid black;
  text-align: center;
  text-decoration: none;
  @include border-radius(0);
  -webkit-appearance: none;
  font-size: medium;


  // Text
  font-size: 1em; // inherit from parent
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

  // Interaction
  cursor: pointer;
  &:visited{
    background-color: $colour;
  }
  &:hover{
    color:white;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.8s linear;
  }
  &:focus {
    color:white;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.8s linear;
  }
  &:active {
    top: 2px;
    @include box-shadow(0 0 0 $colour);
  }

  // Disabled button styles
  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    @include opacity(0.5);
    &:hover{
      cursor: default;
      background-color: $colour;
    }
    &:active {
      top: 0;
      @include box-shadow(0 2px 0 darken($colour, 15%));
      @include ie-lte(8) {
        border-bottom: 2px solid darken($colour, 15%);}

          // making the click target bigger than the button
  // (and fill the space made when the button moves)
  &:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:active:before {
    top: -10%;
    height: 120%;

    // IE6 ignores the :before psuedo-class but applies the block to :active
    // It therefore needs to be reset
    @include ie(6) {
      top: auto;
      height: 100%;
    }
  }

  // Reset styles applied to external links
  &[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0;
  }

  // Fixes a bug where IE puts a black border around certain elements
  @include ie-lte(8) {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      filter:chroma(color=#000000);
    }

    &[type=submit].button {
      filter: none;
    }
  }
} }
}