
/* --- Link styles --- */

a {
  color: inherit;
  display: inline;
  text-decoration: none;
  @include transition(
    (
      color 0.1s ease-in-out,
      border-color 0.1s ease-in-out,
      background-color 0.1s ease-in-out
      )
    );
  @include media(tablet) {
  }
}
a:hover {
  color:peachpuff;
  transition: color 0.5s ease;
}
a:active {
  color:peachpuff;
}

.no-link, a.img, a.video {
  border-bottom: 0;
  &:hover {
    opacity: 0.8;
    @include transition(opacity 0.1s ease-in-out);
    border-bottom: 0;
  }
}
