
@import "normalise";
@import "media-query-helpers";
@import "shims";
@import "css3";
@import "colours";
@import "typography";
@import "links";
@import "buttons";
@import "homepage";

body {
	margin-left: 5%;
	margin-top: 5%;
}

img {
	width:70%;
	padding-top: 15px;
}